body {
    text-align: center;
}

h1 {
    text-shadow: 2px 2px #F8BBDO;
    font-size: 50px;
    font-family: 'Comfortaa', cursive;
}
h2 {
    font-family: 'Fira Sans Condensed', sans-serif;

}

bio {
    padding: 20px;
    font-size: 18px;
    text-align: center;
}

img {
    border-radius: 50%;
    width: 350px;
}

.menu {
    list-style: none;
    position: fixed;
    top: 10px;
    right: 30px;
    cursor: pointer;
    z-index: 10;
    font-size: 18px;
    font-family: monospace;
}
.link {
    display: inline;
    
}
.inspiration {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    transition: transform .2s;
    margin-right: 10px;
}
.inspiration:hover {
    transform: scale(0.9)
}